@font-face {
    font-family: 'Pavelt';
    src: url('Pavelt.eot');
    src: local('Pavelt'),
        url('Pavelt.eot?#iefix') format('embedded-opentype'),
        url('Pavelt.woff2') format('woff2'),
        url('Pavelt.woff') format('woff'),
        url('Pavelt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

